
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-width: 1200px;
  max-width: 1400px;
  padding: 24px 40px 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}