
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 48px 0 84px;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 32px 0 0;
}

.aside {

  display: block;
  width: 260px;
}

.products {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 24px;
}
